{% extends "base.html" %}
{% block title %}User Management{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
{% endblock %}


{% block content %}
<h2 class="page-title">All Users</h2>

<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role.value }}</td>
            <td>{{ user.profile.name }}</td>
            <td>{{ user.profile.email }}</td>
            <td>{{ user.profile.phone }}</td>
            <td>{{ user.profile.gender }}</td>
            <td>
                <a href="{{ url_for('admin.edit_user', user_id=user.user_id) }}" class="btn btn-secondary">Edit</a>
                <a href="{{ url_for('admin.delete_user', user_id=user.user_id) }}" class="btn btn-delete" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="admin-links">
    <a href="{{ url_for('admin.view_all_posts') }}" class="btn btn-primary">View Posts</a>
</div>
{% endblock %}
