{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('user.register') }}">
    <label for="username">Username:</label><br>
    <input type="text" name="username" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" required><br><br>

    <label for="role">Role:</label><br>
    <select name="role" required>
        <option value="visitor">Visitor</option>
        <option value="publisher">Publisher</option>
    </select><br><br>

    <label for="name">Full Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label for="phone">Phone:</label><br>
    <input type="text" name="phone"><br><br>

    <label for="gender">Gender:</label><br>
    <select name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select><br><br>

    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{{ url_for('user.login') }}">Login</a></p>
{% endblock %}
